<ion-view title="First Day">
    <div class="bar bar-subheader bar-light">
        <div class="title">Schedule</div>
    </div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
<!--    <ion-nav-buttons side="right">
        <button ng-click="goToPres(1)" class="button button-icon icon ion-ios7-monitor-outline"></button>
    </ion-nav-buttons>-->
    <ion-content class="has-header has-subheader">

        <div class="list card">

            <a  class="item item-icon-right item-icon-left stable-bg item-text-wrap">
                <i class="icon ion-ios7-star"></i>
                ¿Qué es una aplicación móvil? (PDF format)<button ng-click="goToPres(1,'#presentation.pdf')" class="button button-positive button-small icon ion-ios7-monitor-outline "></button>
            </a>

            <a  class="item item-icon-right item-icon-left stable-bg item-text-wrap">
                <i class="icon ion-ios7-star"></i>
                ¿Cómo funciona una aplicación móvil? (PDF format)<button ng-click="goToPres(1,'#presentation.pdf')" class="button button-positive button-small icon ion-ios7-monitor-outline "></button>
            </a>

            <a  class="item item-icon-right item-icon-left stable-bg item-text-wrap">
                <i class="icon ion-ios7-star"></i>
                Escenario móvil (PDF format)<button ng-click="goToPres(1,'#presentation.pdf')" class="button button-positive button-small icon ion-ios7-monitor-outline "></button>

            </a>
            <a class="item item-text-wrap">
                - Visión actual del parque móvil en España y Aragón.

            </a>
            <a class="item item-text-wrap">- Android, iOS, Windows Phone y Blackberry.</a>



        </div>

    </ion-content>
</ion-view>
<toaster-container></toaster-container>
<script>
    console.log("asdasdsad");
    _gaq.push(['_setAccount', 'UA-50000851-3']);
    _gaq.push(['_trackPageview']);

</script>