<ion-view title="Welcome">
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                Seminar Title: Date and location
            </div>
        </div>
        <div class="list card">

            <div class="item item-avatar item-icon-left item-stable">
                <i class="icon ion-clock"></i>
                <h2>How long</h2>
                <p>...seminar is?</p>
            </div>

            <div class="item item-body text-center">
                <i class="icon ion-coffee " style="font-size: 90px;color : #e5e5e5;"></i>
                <p>
                    <strong>Spanish Description:</strong> El curso de formación consta de 2 jornadas de 4 horas cada una. En cada sesión haremos un "coffee break" de unos minutos para refrescar ideas y fuerzas.
                </p>

            </div>

        </div>

        <div class="list card">

            <div class="item item-avatar item-icon-left item-stable">
                <i class="icon ion-ios7-telephone-outline"></i>
                <h2>Focus</h2>
                <p>...mobility!</p>
            </div>

            <div class="item item-body text-center">
                <i class="icon ion-ios7-gear-outline text-center icon-right" style="font-size: 90px;color :#d39211 ;"></i>
                <p>
                    <strong>Spanish Description:</strong> Las guias de movilidad proveen todos los pasos necesarios para ejecutar un proyecto basado en movilidad, desde la idea inicial a su puesta en marcha
                </p>

            </div>

        </div>


        <div class="list card">

            <div class="item item-avatar item-icon-left item-stable">
                <i class="icon ion-information-circled"></i>
                <h2>Information</h2>
                <p>...about this mobile app</p>
            </div>

            <div class="item item-body text-center">

                <p>
                    <strong>Spanish Description:</strong> Los botones en azul que muestran como icono una pantalla, te llevarán a las presentaciones del curso.
                    <button ng-click="" class="button button-positive button-small icon ion-ios7-monitor-outline "></button>
                </p>
                <p>
                    Cuando el profesor acceda a un tema, debes abrir en tu dispositivo dicha presentación. Las presentaciones son controladas por el profesor y cambiarán a la página correspondiente según este avance o retroceda en el temario.

                </p>
                <i class="icon ion-skip-forward text-center icon-right" style="font-size: 90px;"></i>

            </div>

        </div>

        <div class="list card">

            <div class="item item-avatar item-icon-left item-stable">
                <i class="icon ion-ios7-help"></i>
                <h2>Questions</h2>
                <p>...and answers</p>
            </div>

            <div class="item item-body text-center">
                <i class="icon ion-ios7-email-outline text-center icon-right" style="font-size: 90px;color:#e5e5e5"></i>
                <p>
                    <strong>Spanish Description:</strong> Durante el curso se atenderán todas las dudas y los debates necesarios. Así mismo se proveerá datos de contacto, para las dudas que puedan surgir a posteriori.
                </p>

            </div>

        </div>



        <div class="list card">

            <div class="item item-avatar item-icon-left item-stable">
                <i class="icon ion-ios7-chatbubble-outline"></i>
                <h2>Chat</h2>
                <p>...respect your mates ;)</p>
            </div>

            <div class="item item-body text-center">
                <i class="icon ion-alert-circled text-center icon-right" style="font-size: 90px;color:#aa3333;"></i>
                <p>
                    <strong>Spanish Description:</strong>  En esta aplicación web se provee un chat para ser usado como demo, por favor respeta tus compañeros.
                </p>

            </div>

        </div>

    </ion-content>
    <toaster-container></toaster-container>
</ion-view>