<ion-view title="Second Day">
    <div class="bar bar-subheader bar-light">
        <div class="title">Schedule</div>
    </div>
    <ion-nav-buttons side="left">
        <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header has-subheader">

        <div class="list card">

            <a  class="item item-icon-right item-icon-left stable-bg item-text-wrap">
                <i class="icon ion-ios7-star"></i>
                Technology (ODP format)<button ng-click="goToPres(1,'#presentation.odp')" class="button button-positive button-small icon ion-ios7-monitor-outline "></button>
            </a>

            <a class="item item-text-wrap">
                - Entornos tecnológicos.

            </a>
            <a class="item item-text-wrap">
                - Criterios de elección.

            </a>
            <a class="item item-text-wrap">
                - Entornos aplicación nativa, multiplataforma y adaptativa.

            </a>

            <a   class="item item-icon-left stable-bg item-text-wrap">
                <i class="icon ion-ios7-star"></i>
                Estilo y usabilidad
            </a>

            <a class="item item-text-wrap">
                - Guías de estilo.
            </a>
            <a class="item item-text-wrap">
                - Esquema de colores.
            </a>
            <a class="item item-text-wrap">
                - Elementos comunes.
            </a>
            <a class="item item-text-wrap">
                - Usabilidad.
            </a>
            <a class="item item-text-wrap">
                - Accesibilidad.
            </a>
            <a class="item item-text-wrap">
                - Pautas de cada Sistema Operativo.
            </a>



        </div>

    </ion-content>
</ion-view>
<toaster-container></toaster-container>
<script>

    ga('send', 'segundo dia');

</script>